extend layout

block A
    div(id='bodyDiv' class='body')
        div(id='formTopTitle')
            h(id='topTitle') Please Complete The Form Below
        
        div(id='contentDiv' class='contentHolder')

            form(id='form' method='POST' action='/edit' autocomplete='off' onsubmit= 'return validate(event)')
                div(class='inputDiv')
                    h5(class='inputHeadding') Full Name
                    input(id='fname' type='text' value=user.fullName name='fname' autocomplete='off' placeholder=user.fullName)
                    p(id='fnameError' class='error') &nbsp;

                div(class='inputDiv')
                    h5(class='inputHeadding') Username
                    input(id='username' type='text' value=_Username name='username' autocomplete='off')
                    p(id='usernameError' class='error') &nbsp;

                div(class='inputDiv')
                    h5(class='inputHeadding') Age
                    input(id='age' type='text' autocomplete='off' name='age' value=_Age )
                    p(id='ageError' class='error') &nbsp;
                
                div(class='inputDiv')
                    h5(class='inputHeadding') Email
                    input(id='email' type='text' autocomplete='off' name='email' value=_Email )
                    p(id='emailError' class='error') &nbsp;
                    
                div(class='inputDiv')
                    h5(class='inputHeadding') Select favorite drink
                    select(name="q1" select=_q1)
                        each op in ["Water", "Melted Ice", "Condensed Steam"]
                                option(value=op selected=(op === user.q1)) #{op}

                    h5(class='inputHeadding') Dog or Cat?
                    select(name="q2" select=_q2)
                        each op in ["Dog", "Cat", "Other"]
                            option(value=op selected=(op === user.q2)) #{op}

                    h5(class='inputHeadding') What Degree?
                    select(name="q3" select=_q3)
                        each op in ["Computer Science", "Software Engineering", "Tech Management", "Game", "Web", "Information Systems"]
                                option(value=op selected=(op === user.q3)) #{op}


                
                div(class='inputDiv')
                    h5(class='inputHeadding') Password
                    input(id='password' name='password' type="password" value=_PassWd autocomplete="off")
                    p(id='passwordError' class='error') &nbsp;

                div(class='inputDiv')
                    h5(class='inputHeadding') Verify Password
                    input(id='vpassword' name='vpassword' type="password" value=_PassWd2 autocomplete="off")
                    p(id='vpasswordError' class='error') &nbsp;

                //- Need to get  an answer from a list of three things from a multiple choice here

                div
                    p(id='submitError' class='error') &nbsp;
                    input(id='submitBtn' type='submit' value='Edit')

